/* app global css */
.backdrop-blur {
  backdrop-filter: blur(4px);
}
.backdrop-blur-xs {
  backdrop-filter: blur(8px);
}
.backdrop-blur-sm {
  backdrop-filter: blur(12px);
}
.backdrop-blur-md {
  backdrop-filter: blur(16px);
}
.backdrop-blur-lg {
  backdrop-filter: blur(24px);
}
.backdrop-blur-xl {
  backdrop-filter: blur(48px);
}
.nobg {
  background: none !important;
}
